# remote_log 组件要求 Log V2 文本模式
CONFIG_LOG_VERSION_2=y
CONFIG_LOG_MODE_TEXT=y

# 打开 Web Console 全部可裁剪模块，最大化示例的编译覆盖面
CONFIG_WEB_CONSOLE_FILES=y
CONFIG_WEB_CONSOLE_SETTINGS=y
CONFIG_WEB_CONSOLE_STATUS=y
CONFIG_WEB_CONSOLE_ACTIONS=y
